@import './../../common.scss';

.confirm-modal-container {
  background-color: $white;
  width: 25.875rem;
  height: 10rem;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.confirm-modal_message {
  padding: 1.875rem;
  text-align: center;
  li {
    font-size: 1rem;
    line-height: 1.56rem;
  }
}

.confirm-modla_button {
  border-top: solid 1px #e6e8ed;
  width: inherit;
  color: $color-active;
  font-weight: 500;
  font-size: 1rem;
}
