$border-grey: #e1e3e9;
$button-inactive: #f7f7fa;
$button-active: #0067ff;
$inactive-text-color: #9da1a8;
$table-header-text-color: #52565d;

.header {
  background-color: #0067ff;
  color: #fff;
  height: 3.75rem;
  display: flex;
  padding-left: 1.875rem;
  align-items: center;
}

.logo {
  width: 2.5rem;
  margin-right: 5px;
}

.reviewer-board-wrapper {
  border: solid 1px $border-grey;
  width: 95%;
  margin: 2.5rem auto 0;
  background-color: #fff;
}

.tab-container {
  border-bottom: solid 1px $border-grey;
  display: flex;
}

.tab {
  border-right: solid 1px $border-grey;
  font-size: 1rem;
  padding: 1.125rem 3rem;
  color: $inactive-text-color;
  &:hover {
    cursor: pointer;
  }
}

.reviewer-list-container {
  padding: 30px 0;
}

.submit-button {
  display: block;
  margin: 0 auto;
  background-color: $button-inactive;
  width: 104px;
  height: 50px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: $inactive-text-color;
}
