.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-modal-container {
  background-color: #fff;
  width: 25.875rem;
  height: 10rem;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.confirm-modal_message {
  padding: 1.875rem;
  text-align: center;
  li {
    font-size: 1rem;
    line-height: 1.56rem;
  }
}

.confirm-button {
  border-top: solid 1px #e6e8ed;
  width: inherit;
  color: #0067ff;
  font-weight: 500;
  font-size: 1rem;
}
