$screen-height: 780px;
$border-grey: #e1e3e9;
$white: #fff;
$table-header-text-color: #52565d;
$table-body-text-color: #202225;
$bg-color-light-grey: #f7f7fa;
$color-active: #0067ff;
$text-color-inactive: #9da1a8;
$text-color-black: #202225;
