$screen-height: 780px;
$border-grey: #e1e3e9;
$white: #fff;
$table-header-text-color: #52565d;
$table-body-text-color: #202225;
$bg-color-light-grey: #f7f7fa;
$color-active: #0067ff;
$text-color-inactive: #9da1a8;
$text-color-black: #202225;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
